body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-image: linear-gradient(#d2f4ff,  #fff);
}

.body-alt {
  background-image: linear-gradient(#d2f4ff 0%,  #fff 50%);
}

h2, h4 {
  margin-bottom: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

.navbar {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: medium;
}

header.masthead {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.footer {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.landing-demo {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.text-section {
  margin-top: 36px;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn {
    color: #fff;
    background-color: #3d8af7;
}

.majors-list {
  white-space: pre-line;
}
