body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.navbar {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: medium;
  padding-left: 125px;
}

#main-nav a{
  color: #FFFFFF;
  text-decoration:none;
  margin: 5px;
}
#main-nav a:hover {
  color: #3d8af7;
  text-decoration: underline;
}
button.custom-toggler.navbar-toggler {
  border-color: #FFFFFF;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/header-background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

header.about-masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/header-background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

header.about-masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* About page */

.text-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.about-section p {
  margin-bottom: 0;
}

.tl-section {
  font-weight: bold;
}

#about-description p {
  margin-bottom: 16px;
}

#about-team, #about-mentor, #about-timeline, #about-res h4 {
  margin-top: 2em;
}
