body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
}

.navbar-brand {
  font-weight: 400;
}

h2, h4 {
  margin-bottom: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

.navbar {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: medium;
  background-color: #464e56 !important;
}

.nav-item {
  color: #fff;
}

header.masthead {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.header-text {
  color: #222;
}

.header-bg {
  position: absolute;
  width: 100%;
  height: 120%;
  overflow: hidden;
  opacity: 1;
  -webkit-transform: skewY(-12deg) translateY(-60px);
  transform: skewY(-12deg) translateY(-60px);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  background: linear-gradient(180deg, #47d1ff 15%, #d2f4ff 70%, #fff 85%);
  z-index: -1;
}

.footer {
  font-size: 1rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.landing-demo {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.text-section {
  margin-top: 36px;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn {
    color: #fff;
    background-color: #3d8af7;
}
