{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TigerPath - About</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'landing/css/landing-page.css' %}" rel="stylesheet">

    {% include 'includes/analytics/analytics_head.html' %}
  </head>
  <body>
    {% include 'includes/analytics/analytics_body.html' %}

    {% include 'includes/navigation.html' %}

    <div class="header-bg"></div>

    <section class="container mb-4 mt-5">
      <h2 class="text-center mb-4">About TigerPath</h2>

      <div class="text-section">
        <p>TigerPath is a web application that helps Princeton University students plan out their four-year course schedules.</p>
        <p>We built TigerPath because we saw a need for Princeton students to have a tool that could help them think long-term about what courses to take and how to fulfill their graduation requirements.</p>
        <p>Many students try to manually manage what courses to take and when to take them by using an Excel spreadsheet or pen-and-paper, but any mistake can easily lead to an overloaded semester or a need to take summer classes in order to fulfill missed requirements.</p>
        <p>TigerPath aims to solve this problem by providing a platform for students to manage what courses they're taking during each semester and giving them real-time feedback on the major requirements their schedule fulfills and does not fulfill. Our goal is for TigerPath to become a useful, enduring tool that ensures Princeton students are able to stay on top of requirements and graduate on time.</p>
      </div>

      <div class="text-section">
        <h4>Team Members</h4>
        <div>Richard Chu - rc11@</div>
        <div>Barak Nehoran - bnehoran@</div>
        <div>Adeniji Ogunlana - ogunlana@</div>
        <div>Daniel Leung - dl13@</div>
      </div>

      <div class="text-section">
        <h4>Acknowledgments</h4>
        <p class="mb-0">Jérémie Lumbroso - COS 333 Spring 2018 Advisor</p>
        <p>Brian Kernighan - COS 333 Spring 2018 Professor</p>
      </div>

      <div class="text-section">
        <h4>Resources</h4>
        <p class="mb-0"><a href="{% static 'res/tigerpath_design_doc.pdf' %}" target="_blank" rel="noopener noreferrer">Design Document</a></p>
        <p class="mb-0"><a href="{% static 'res/report.pdf' %}" target="_blank" rel="noopener noreferrer">Report</a></p>
        <p><a href="{% static 'res/productguide.pdf' %}" target="_blank" rel="noopener noreferrer">Product Guide</a></p>
      </div>
    </section>

    {% include 'includes/footer.html' %}
  </body>
</html>
