{% load staticfiles %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TigerPath - Four-Year Course Schedule</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <!-- Intro JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.min.css">
    <!-- Custom styles for this template -->
    <link href="{% static 'app/css/app-style.css' %}" rel="stylesheet">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5PVVZFT');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118633124-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-118633124-1');
    </script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5PVVZFT"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- Navigation -->
    <nav class="navbar navbar-dark nav-color-custom static-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">TigerPath</a>
        <div>
        <a class="btn" href="#" id="settings-btn">Settings</a>
        <a class="btn" href="https://goo.gl/forms/T0pnhwdBYIS8mM6q1" target="_blank">Feedback</a>
        <a class="btn" href="#" id="netid-btn" onclick="toggler('logout-btn');">{{ request.user.profile.nickname|default:request.user.username }}</a>
        <a class="btn hidden" href="{% url 'logout' %}" id="logout-btn">Logout</a>
        <a class="btn" href="#" id="help-btn"><i class="far fa-question-circle"></i></a>
        </div>
      </div>
    </nav>

    <div class="row">
      <div class="col-lg-2">
        <!-- search bar -->
        <div id="search-courses">
        </div>
        <div id="display-courses">
        </div>

        <!-- Requirements -->
      </div>

      <div class="col-lg-8 no-padding-left no-padding-right">
        <table id="semesters">
          <thead class="semester-header">
            <tr>
              {% with year=request.user.profile.year %}
                <td class="fall-sem">Fall {{ year|add:"-4"|default:"20XX" }}</td>
                <td class="spring-sem">Spring {{ year|add:"-3"|default:"20XX" }}</td>
                <td class="fall-sem">Fall {{ year|add:"-3"|default:"20XX" }}</td>
                <td class="spring-sem">Spring {{ year|add:"-2"|default:"20XX" }}</td>
              {% endwith %}
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="sem1" class="semester"></td>
              <td id="sem2" class="semester"></td>
              <td id="sem3" class="semester"></td>
              <td id="sem4" class="semester"></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td class="no-border"> </td>
            </tr>
          </tbody>
          <thead class="semester-header">
            <tr>
              {% with year=request.user.profile.year %}
                <td class="fall-sem">Fall {{ year|add:"-2"|default:"20XX" }}</td>
                <td class="spring-sem">Spring {{ year|add:"-1"|default:"20XX" }}</td>
                <td class="fall-sem">Fall {{ year|add:"-1"|default:"20XX" }}</td>
                <td class="spring-sem">Spring {{ year|default:"20XX" }}</td>
              {% endwith %}
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="sem5" class="semester"></td>
              <td id="sem6" class="semester"></td>
              <td id="sem7" class="semester"></td>
              <td id="sem8" class="semester"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-lg-2">
        <!-- requirements -->
        <div id="requirements">
        </div>
      </div>
    </div>

    <!-- external scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.min.js"></script>

    <!-- onboarding and tutorial -->
    <script src="{% static 'app/js/tutorial.js' %}"></script>
    {% if onboarding_form %}
      {% include 'tigerpath/onboarding.html' %}
      <script src="{% static 'app/js/onboarding.js' %}"></script>
    {% elif show_tutorial %}
      <script>
        $(function() {
          // start the intro
          startIntro();
        });
      </script>
    {% endif %}

    <!-- react webpack -->
    {% render_bundle 'main' %}

    <!-- settings -->
    {% include 'tigerpath/settings.html' %}
    <script src="{% static 'app/js/settings.js' %}"></script>

    <script>
      function toggler(divId)
      {
        var isLogoutHidden = $("#logout-btn").is(":hidden");
        if ($("#logout-btn").is(":hidden")) {
          $("#logout-btn").toggle();
          $("#netid-btn").toggle();
        }
      }
      function treeexp () {
        $('label.tree-toggler').click(function () {
            $(this).parent().children('ul.tree').toggle(300);
        });
      }
    </script>
  </body>
</html>
