{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="TigerPath helps Princeton University students plan out their four-year course schedules.">

    <title>TigerPath - Four-Year Course Planner</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static 'landing/css/landing-page.css' %}" rel="stylesheet">

    {% include 'includes/analytics/analytics_head.html' %}
  </head>
  <body>
    {% include 'includes/analytics/analytics_body.html' %}

    {% include 'includes/navigation.html' %}

    <div class="header-bg"></div>

    <header class="masthead text-center">
      <div class="container">
        <div class="col-xl-9 mx-auto">
          <h2 class="header-text mb-4">TigerPath helps Princeton University students plan out their four-year course schedules.</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto mb-5">
          <a class="btn btn-primary" href="{% url 'login' %}">Login to manage your schedule</a>
        </div>
        <img class="landing-demo img-fluid mb-5 mx-auto" src="{% static 'landing/img/landing_demo.gif' %}"/>
      </div>
    </header>

    <section class="container text-center mb-4">
      <h2 class="mb-4">Features</h2>
      <div class="mb-5">
        <p class="lead mb-4"><i class="fas fa-search mr-3"></i><b>Search</b> for Princeton courses from any semester</p>
        <p class="lead mb-4"><i class="far fa-hand-rock mr-3"></i>Easily customize your schedule using fluid <b>drag and drop</b></p>
        <p class="lead mb-4"><i class="fas fa-list-ul mr-3"></i><b>Track requirements in real-time</b> for your major and degree</p>
        <p class="lead mb-4"><i class="fas fa-exchange-alt mr-3"></i>See how feasible <b>switching to another major</b> would be</p>
      </div>
    </section>

    <!-- show messages to the user -->
    {% include 'includes/messages.html' %}

    {% include 'includes/footer.html' %}
  </body>
</html>
