<div class="modal fade in" id="onboarding-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="onboarding-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form method="post" action="{% url 'save_onboarding' %}" class="modal-content" id="onboarding-form">
      <div class="modal-header">
        <h5 class="modal-title" id="onboarding-modal-label">Welcome to TigerPath!</h5>
      </div>
      <div class="modal-body">
        <div class="container">
          <div id="page-1">
            <h6>Before we get started...</h6>
            <p>TigerPath is a tool, and is not a replacement for talking with your academic advisor. The official decision for whether or not a particular schedule fulfills your graduation requirements always rests with the university.</p>
            <p>We recommend using TigerPath to plan out your schedule and then double-checking with your advisor to make sure that your schedule is reasonable and satisfies all of the requirements you want to satisfy.</p>
            <p>TigerPath is currently in beta. If you find any bugs or have any suggestions, we would appreciate your <a href="https://goo.gl/forms/T0pnhwdBYIS8mM6q1" target="_blank">feedback</a>!</p>
            <p>By continuing, you affirm that you have read and understood the terms outlined above and in our <a href="{% url 'privacy_policy' %}" target="_blank">privacy policy</a>.</p>
          </div>
          <div id="page-2" class="hidden animated">
            <h6>Confirm your info</h6>
            <p>Please confirm your class year and major (or the major you're planning on declaring).</p>
            {% csrf_token %}
            {% include 'includes/bs4_form.html' with form=onboarding_form %}
          </div>
          <div id="page-3" class="hidden animated">
            <h6>Prepopulate your course schedule (Optional)</h6>
            <p>If you're interested in prepopulating your four-year course schedule with courses you've already taken, then you can upload your unofficial transcript to the TigerApps Transcript Service.</p>
            <p>Once you click on "Continue with Transcript Service" below, you will be redirected to the TigerApps Transcript Service webpage. Check "Share Courses", upload your transcript as a PDF file, and click the submit button. The service will extract the courses you've taken, and we'll automatically put them into your schedule.</p>
            <p>Using the Transcript Service is optional. If you'd like, you can click "Finish" below and populate your schedule manually.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="next-btn">Next</button>
        <a class="btn btn-outline-primary hidden" href="https://transcriptapi.tigerapps.org/?redirect=http://{{request.META.HTTP_HOST}}{% url 'save_transcript' %}" id="transcript-btn">Continue with Transcript Service</a>
        <button type="submit" class="btn btn-primary hidden" id="finish-btn">Finish</button>
      </div>
    </form>
  </div>
</div>
