{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TigerPath - Privacy Policy</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'landing/css/landing-page.css' %}" rel="stylesheet">

    {% include 'includes/analytics/analytics_head.html' %}
  </head>
  <body>
    {% include 'includes/analytics/analytics_body.html' %}

    {% include 'includes/navigation.html' %}

    <div class="header-bg"></div>

    <section class="container mb-4 mt-5">
      <h2 class="text-center mb-4">Privacy Policy</h2>

      <div class="text-section">
        <p>The goal of TigerPath is to help you more efficiently and easily plan out what courses to take so that you can fulfill all of your requirements and graduate on time. In order to provide you with this service, we gather certain kinds of data from Princeton University and from you (the user). We also use some third-party services that could gather data about you. </p>
        <p>We are committed to protecting your privacy, and we try to be as transparent as possible about how we handle data in TigerPath. The purpose of this privacy policy is to help you understand what kinds of data we collect and what we use them for.</p>
      </div>
      <div class="text-section">
        <h4>Authentication</h4>
        <p>We protect the entire application underneath CAS authentication, which is the same system you use to sign into other Princeton services, like TigerHub.</p>
      </div>
      <div class="text-section">
        <h4>User Data</h4>
        <p>Your data is stored securely. We will never give or sell your data to third parties, or allow other users or nonusers access to your data without your explicit permission. We only store the data that we need to in order to provide you with the best experience possible in TigerPath. This data includes your nickname, class year, major, and four-year course schedule. By using TigerPath, you are consenting to the storage of this data.</p>
      </div>
      <div class="text-section">
        <h4>University Data</h4>
        <p>We collect the course listings data from the OIT Web Feed Registry and the Course Offerings webpage, and we compile the requirements information from the Princeton University Undergraduate Announcement website and the official Princeton University department websites.</p>
        <p>Although we endeavor to make the displayed course listings and requirements information as accurate as possible, we make no guarantees about the accuracy of our data. The definitive word will always come from the university administration and departments, and you should verify with them if you are in doubt about the veracity of any university data on our app. We would also appreciate it if you <a href="https://goo.gl/forms/T0pnhwdBYIS8mM6q1" target="_blank" rel="noopener noreferrer">notify us</a> about any errors you find.</p>
      </div>
      <div class="text-section">
        <h4>Third-Party Services</h4>
        <p>We use some third-party services that help us improve your experience in the app:</p>
        <ul>
          <li>TigerBook API, to automatically populate your name, class year, and major.</li>
          <li>Google Analytics, to collect aggregated anonymous metadata on how you use the app so we can continually improve it.</li>
        </ul>
      </div>
    </section>

    {% include 'includes/footer.html' %}
  </body>
</html>
