{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TigerPath - Privacy Policy</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'landing/css/landing-page.css' %}" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5PVVZFT');</script>
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118633124-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-118633124-1');
    </script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5PVVZFT"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    {% include '../includes/navigation.html' %}

    <!-- Masthead -->
    <header class="about-masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-3">Privacy Policy</h1>
          </div>
        </div>
      </div>
    </header>

    <section class="text-container">
      <div class="container">
        <div>
          <p>We are committed to protecting your privacy. We will never sell your data to third parties, and we do our utmost to prevent other people from gaining access to your data.</p>
          <p>We protect the entire application underneath CAS authentication, which is the same system you use to sign into other Princeton services, like TigerHub.</p>
          <h6>Data</h6>
          <p>We only store the data that we need to in order to provide you with the best experience. This data includes your nickname, class year, major, and four-year course schedule.</p>
          <p>We collect the course listings data from the OIT Web Feed API and the Course Offerings webpage, and we compile the requirements information from the Princeton University Undergraduate Announcement website and the official Princeton University department websites.</p>
          <h6>Third-Party Services</h6>
          <p>We are using some third-party services in order to provide you with the best experience possible:<p>
          <ul>
            <li>TigerBook API, to automatically populate your name, class year, and major.</li>
            <li>TigerApps Transcript API, to help you prepopulate your course schedule with courses you've already taken.</li>
            <li>Google Analytics, to collect aggregated anonymous metadata on how you use the app so we can continually improve it.</li>
          </ul>
          <p>Thank you for using TigerPath!</p>
        </div>
      </div>
    </section>

    {% include '../includes/footer.html' %}
  </body>
</html>
