<div class="modal fade in" id="settings-modal" tabindex="-1" role="dialog" data-bs-backdrop="static" aria-labelledby="settings-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="settings-modal-label">Settings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'save_settings' %}" id="settings-form">
          <div class="container">
            <h6 class="mb-3">General</h6>
            <div class="container bg-light pt-3 pb-3">
              {% csrf_token %}
              {% include 'includes/bs4_form.html' with form=settings_form %}
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" form="settings-form" class="btn btn-primary" id="save-btn">Save</button>
      </div>
    </div>
  </div>
</div>
