[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
whitenoise = "*"
gunicorn = "*"
django-cas-ng = "*"
certifi = "*"
chardet = "*"
idna = "*"
"psycopg2-binary" = "*"
python-cas = "*"
pytz = "*"
requests = "*"
six = "*"
"urllib3" = "*"
"beautifulsoup4" = "*"
"bs4" = "*"
lxml = "*"
django-widget-tweaks = "*"
django-webpack-loader = "*"
ujson = "*"
jsonschema = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.10"
