/* for search box, get rid of rounded corners and highlighted box on focus */
#search-courses .form-control{
  border-radius:0rem;
  border-top: none;
  border-left: none;
  border-right: none;
}

#search-courses .form-control:focus{
  border-color: #aaa;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(255, 255, 255, 0);
  outline: 0 none;
}

#search-info{
  display: -webkit-box;
  padding-left: 10px;
  padding-top: 5px;
}

#search-count-num{
  margin-right: 3px;
}

.search-card {
  font-size: 13px;
  height: auto;
  padding: 5px;
  margin: 3px;
  border-radius: 2px;
  background-color: #f5f5f5;
}

.search-card.fall {
  background-color: #f6ebff;
  color: #53008f;
}

.search-card.spring {
  background-color: #ebf6f9;
  color: #004a63;
}

.search-card.both {
  background: linear-gradient(to right, #f6ebff, #ebf6f9);
  color: #333;
}

.search-card-info {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 5px;
  align-items: center;
}

.search-card-links {
  visibility: hidden;
}

.search-card:hover .search-card-links {
  visibility: visible;
}

#display-courses {
  height: calc(100vh - 122px);
  overflow: auto;
}

.course-title {
  font-weight: bold;
  margin-left: 5px;
}

/* smaller font size for semester in search results */
.course-prev-sems {
  font-size: 11px;
  margin-left: 5px;
  margin-bottom: 0;
}

#spinner {
  display: none;
  font-size: inherit;
  margin-left: 2px;
}

/* courses cards */
.course-card {
  font-size: large;
  height: 36px;
  padding: 5px;
  border-radius: 2px;
  margin-bottom: 5px;
}

.course-card.fall {
  background-color: #eaccff;
  color: #53008f;
}

.course-card.spring {
  background-color: #c4e3ed;
  color: #004a63;
}

.course-card.both {
  background: linear-gradient(to right, #eaccff, #c4e3ed);
  color: #333;
}

.course-card.external {
  background-color: #f3d9be;
  color: #753a00;
}

.course-card .course-name {
  max-width: calc(100% - 18px);
	overflow: hidden;
	float: left;
	text-overflow: ellipsis;
  white-space: nowrap;
}

.course-card:hover {
  cursor: grab;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  z-index: 1;
}

.course-info:hover, .course-eval:hover {
  color: #5a6268;
}

/* add delete button on course hover in semesters */
.course-card:hover .delete-course {
  display: block;
}

.delete-course {
	display: none; /* gets rid of delete button */
	float: right;
  margin-top: 4px;
  color: #666;
}

.delete-course:hover {
  color: #e74c3c;
  cursor: pointer;
}

.popover-warning {
  color: #e74c3c;
  margin-top: 5px;
}