/* for search box, get rid of rounded corners and highlighted box on focus */
#search-courses .form-control{
  border-radius:0rem;
  border-top: none;
  border-left: none;
  border-right: none;
}

#search-courses .form-control:focus{
  border-color: #aaa;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(255, 255, 255, 0);
  outline: 0 none;
}

#spinner {
  display: none;
  font-size: inherit;
  margin-left: 2px;
}

.course-info:hover, .course-eval:hover {
  color: #5a6268;
}
