/* popup on bottom of page */
#updates-popup {
  position: fixed;
  z-index: 1000;
  right: 15px;
  bottom: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  padding: .75rem .75rem .75rem 1.25rem;
}

@media (min-width: 767px) {
  #updates-popup {
    width: 25%;
  }
}

.close {
  color: inherit;
  margin-left: 20px;
}