<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 h-100 text-center my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="{% url 'about' %}">About</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="https://goo.gl/forms/T0pnhwdBYIS8mM6q1" target="_blank">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">Made with ❤️ by Richard Chu, Barak Nehoran, Adeniji Ogunlana, and Daniel Leung</p>
      </div>
    </div>
  </div>
</footer>