/* items in semester columns */
.semesters li{
  font-size: large;
  height: 36px;
  width: 96%;
  margin-left: 2%;
  padding: 5px;
  list-style-type: none;
  margin-top: 5px;
}

/* for courses with long names */
.semesters .course-name{
	width: 90%;
	overflow: hidden;
	float: left;
	text-overflow:ellipsis;
	white-space:nowrap;
}

/* delete title and semester for courses in semesters */
.semesters .course-title, .semesters .course-semester{
	display: none;
}

/* add delete button on course hover in semesters */
.semesters .course-display:hover .delete-course {
	display: block;
}

/* styles course while it's being dragged (opaque) */
.gu-mirror{
  font-size: large !important;
  width: 200px !important;
  height: auto !important;
  margin: 5px !important;
  padding: 5px !important;
}

.gu-mirror .course-title, .gu-mirror .course-semester{
	/* deletes title and semester */
	display:none;
}

#display-courses li:hover,
.semesters li:hover{
  cursor: grab;
}

#display-courses li:active,
.semesters li:active{
  cursor: grabbing !important;
}

/* courses in search results */
.course-display {
  font-size: 13px;
  padding-left: 2px;
  width: 100%;
  height: auto;
  padding: 5px;
  list-style-type: none;
  margin-bottom: 3px;
}

.course-display.fall {
  background-color: #ffc993;
  color: #753a00;
}

.course-display.spring {
  background-color: #ADD8E6;
  color: #004a63;
}

.course-display.both {
  background: #d1dcff;
  color: #4B0082;
}

.course-display p {
  margin-bottom: 0;
}

/* smaller font size for semester in search results */
#display-courses .course-semester {
  font-size: 11px;
}

.course-info, .course-eval {
  display: none;
  float: right;
}

.course-info:hover, .course-eval:hover {
  color: #333;
}

#display-courses .course-display:hover .course-info,
#display-courses .course-display:hover .course-eval {
  display: block;
}

.delete-course {
	display: none; /* gets rid of delete button */
	float: right;
  margin-top: 4px;
  color: #666;
}

.delete-course:hover {
  color: #e74c3c;
  cursor: pointer;
}