ul{
  list-style-type: none;
}

li{
  width: 200px;
  height: 40px;
  margin: 5px;
  padding: 5px;
  background-color: #ffc0cb;
  list-style-type: none;
  color: #DB7093;
}

li:hover{
  cursor: pointer;
}

