/* items in requirement column */
#requirements li{
  list-style-type: none;
  background-color: #ADD8E6;
  padding-left: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  color: #2B547E;
  border-radius: 2px;
  cursor: pointer;
}

/* styles all levels */
#requirements .tree-view_item {
  padding-left: 3px;
  cursor: pointer;
}

/* greyed out unsettled reqs*/
#requirements .unsettled{
  background-color: #DCDCDC;
}

/* styles root */
#requirements .tree-root{
  margin-bottom: 3px;
  background-color: #DB7093;
  color: white;
}

/* style everything except main roots and leaves*/
#requirements .tree-sub-reqs .tree-view_item {
  border-radius: 2px;
  margin-right: 3px;
  margin-bottom: 3px;
  background-color: #F7CAC9;
  color: #C71585;
}

/* styles reqs that are >= min needed*/
#requirements .tree-sub-reqs .tree-view_item.req_done {
  background-color: #c4f0c4;
  color: #228B22;
}

/* styles levels that have a counter*/
#requirements .tree-sub-reqs .tree-leaf-req {
  background-color: #d1dcff;
  color: #8153DC;
  display: flow-root;
}

/* count of courses*/
#requirements .tree-sub-reqs .tree-leaf-req .reqCount {
  float: right;
  padding-right: 5px;
}

/* count of courses*/
#requirements .tree-sub-reqs .tree-leaf-req .reqName {
  font-size:;
}

#requirements {
  height: calc(100vh - 60px);
  overflow: auto;
  background-color: #fff4f4;
}