body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.navbar {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: medium;
}
.navbar-toggle {
  position: relative;
  float: right;
}
.navbar-custom-searchbox {
  background-color: #3d8af7;
  color: #FFFFFF;
  border: 1px solid black;
  padding: 3px;
  width: 100%;
}
.navbar-custom-drop {
  background-color: #dacafb;
  font-size: medium;
  color: #000000;
  border: 1px solid black;
  width: 100%;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #FFFFFF;
}
.nav-tabs {
    display: block;
    padding: 10px;
}
.requirements-list {
  background-color: #7e7f82;
  width: inherit;
  height: 100px;
}
.reqtable-boxes {
  padding: 10px;
  white-space: nowrap;
}
.completed {
  background-color: #cbe8ba;
}
.incomplete {
  background-color: #ffd783;
}
.not-started {
  background-color: #ffc3ae;
}
#main-nav a{
  color: #FFFFFF;
  text-decoration:none;
  margin: 5px;
}
#main-nav a:hover {
  color: #3d8af7;
  text-decoration: underline;
}
button.custom-toggler.navbar-toggler {
  border-color: #FFFFFF;
}
table.semesters {
  border-collapse: collapse;
  font-size: large;
  height: 100px;
  color: #FFFFFF;
  width: inherit;
  table-layout:fixed;
}

table td {
  border: 1.5px solid white; 
}
table tr:first-child td {
  border-top: 0;
}
table tr td:first-child {
  border-left: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:last-child {
  border-right: 0;
}

.semester {
  background-color: #ebebeb;
  vertical-align: top;
  height: 280px;
  width: 25%;
  list-style-type: none;
  color: #DB7093;
}
thead.semester-header {
  background-color: #3d8af7;
  color: #FFFFFF;
  text-align: center;
}
.hidden {
  display:none;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-left {
   padding-left: 0 !important;
}

.btn {
  color: white;
}

.foot-text {
  color: white;
}

.nav-color-custom {
  background-color: #464e56!important;
}
#display_courses {
  height:500px;
  overflow:auto;
}

.col-lg-3{
  padding-left: 0;
  padding-right: 0;
}

.row{
  margin-right:0;
  margin-left:0;
}

/* get rid of rounded corners and highlighed box on focus */
.form-control{
  border-radius:0rem;
  border:solid white;
}

.form-control:focus{
  border-color: rgba(255, 255, 255, 0);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(255, 255, 255, 0);
  outline: 0 none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}