body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.navbar {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: medium;
  background-color: #464e56 !important;
}

.nav-btn {
  color: white;
}

.nav-btn:hover, .nav-btn:focus, .nav-btn:active, .nav-btn.active, .open>.dropdown-toggle.nav-btn {
  color: #fff;
  background-color: #3d8af7;
}

#netid-dropdown a:hover {
  background-color: #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.hidden {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.warning-text {
  color: #e74c3c;
}

/* Mobile banner */
div#banner {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ADD8E6;
  display: none;
}

div#banner-content {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

/* Show banner on medium devices (less than 992px) */
@media (max-width: 991.98px) {
  div#banner {
    display: block;
  }
}
